*,
*::before,
*::after {
  box-sizing: border-box;
}

/* This removes default margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body{
    line-height: 1.5;
    font-family: Lexend Deca, sans-serif;
    color: var(--nt-transp-white);
    padding: 1rem;
}

.upper-container{
    background-color: #6943ff;
    width: 550px;
    padding: 33px 51px;
    border-radius: 1rem;
    /* text-align: center; */
}

h1{
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.flex-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
}

.flex-group .number{
    font-size: 58px;
    color: white;
    font-weight: 800;
    border: 1px solid white;
    width: 117px;
    text-align: center;
}

.flex-group button{
    width: 117px;
    border: none;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0.3rem;
}